# Environments
.venv/
venv/

# Data (no se versiona)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Modelos entrenados
models/*.joblib

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
